$darkgray: #3d3d3d;

@mixin header-link ($hover: true){
    color: $darkgray;
    text-decoration: none;
    letter-spacing: 2px;

    @if $hover {
        &:hover {
            border-bottom: solid 2px $darkgray;
        }
    }

}

.header {
    background-color: gainsboro;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;

    &__logo {
        @include header-link(false);
    }

    &__nav-list {
        display: flex;
        list-style: none;
        column-gap: 20px;
    }

    &__item-link {
        @include header-link(true);
        
        &--is-active {
            border-bottom: solid 2px $darkgray;
        }
    }
}